table,
tbody,
tr,
td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

td {
  display: inline-block;
}

.cp-wrapper {
  font-family: Arial, sans-serif;
  line-height: 1.25;
}

.cp-section,
.cp-meta-wrapper {
  margin: 1px;
}

.cp-heading {
  font-weight: bold;
}

.cp-chord {
  font-weight: 900;
}

.cp-copyright-wrapper {
  font-size: 0.6em;
  font-weight: bold;
}
