table,
tbody,
tr,
td {
  padding: 0;
  margin: 0;
}

td {
  display: inline-block;
}

.chord {
  font-weight: bold;
}

.cp-section,
.cp-meta-wrapper {
  margin: 1px;
}

.cp-heading {
  font-weight: bold;
}

.cp-chord {
  font-weight: bold;
  color: red;
}
