table,
tbody,
tr,
td {
  padding: 0;
  margin: 0;
}

td {
  display: inline-block;
}

.chord {
  font-weight: bold;
}

.cp-section {
  border: 1px solid lightgray;
}

.cp-heading {
  font-weight: bold;
}

.cp-chord {
  font-weight: bold;
  color: red;
}

.cp-meta-wrapper {
  font-size: 1.2em;
}
