/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
  --border-color: var(--c-dark20);
  --border-width: 1px;
  --border: var(--border-width) solid var(--border-color);
  --border-radius: 1em;
  --font-main: neue-haas-unica, sans-serif;
  /* 'Open Sans', sans-serif; */
  --font-mono: 'Roboto Mono', monospace;

  --font-size-base: 16px;

  --background-color-main: var(--c-dark00);

  --c-text-main: #222222;
  --c-text-white: var(--background-color-main);

  --c-dark00: #ffffff;
  --c-dark10: #efefef;
  --c-dark20: #dddddd;
  --c-dark30: #cccccc;
  --c-dark50: #888888;
  --c-dark70: #555555;
  --c-dark80: #333333;
  --c-dark90: #222222;

  --c-main-accent: #f29559;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  color: var(--c-text-main);
  background-color: var(--background-color-main);
}

body > * {
  box-sizing: border-box;
  flex-shrink: 0;
}

header > a {
  font-size: 2em;
  margin-top: 0.4em;
  font-weight: 200;
  cursor: pointer;
  display: inline-block;
}

footer {
  margin-top: auto;
}

.app-wrapper {
  height: 100%;
  position: relative;
}

header {
  position: relative;
  box-sizing: border-box;
  padding: 60px 30px 30px 30px;
}

.background-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -140px;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.background-overlay:after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: -40%;
  width: 200%;
  height: 200%;
  transform: rotateZ(-1.2deg);
  z-index: 0;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.1);
  background-color: #fad961;
  background-image: linear-gradient(90deg, #f3a348 0%, #f88949 100%);
}

h1 {
  margin: 0;
  font-family: var(--font-main);
  font-size: 4em;
  text-indent: -0.06em;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  font-size: 4em;
}

header .subtitle {
  font-size: 2em;
  font-weight: 200;
}

main > section {
  padding: 0 20px;
  margin-bottom: 200px;
}

.metadata-input-grid {
  display: grid;
  grid-template-columns: 7em 1fr;
  gap: 1em 5px;
  align-items: center;
}

.metadata-input-grid > input {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.metadata-input-grid > .full-width {
  grid-column: span 2;
}

.metadata-input-grid > label.full-width {
  margin-bottom: -0.8em;
}

.metadata-input-grid > label {
  font-weight: bold;
  align-self: flex-start;
  margin-top: 0.16em;
}

.textarea-span {
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0 0.5em 0.5em 0.5em;
  font-size: 1em;
  font-family: var(--font-mono);
  border-bottom: var(--border);
  word-break: break-word;
}

.textarea-span.multiline {
  border: var(--border);
  padding: 0.5em;
  padding-bottom: 1.7em;
}
.short {
  width: 80px;
}

.textarea-span.error {
  border-color: red;
}

.box-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.box {
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--c-dark00);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: grid;
  align-self: flex-start;
  grid-template-rows: auto 1fr;
  position: relative;
  font-size: var(--font-size-base);
  min-height: 20em;
  position: sticky;
  top: 20px;
}

.box-label {
  position: relative;
  border-bottom: var(--border);
  text-align: center;
  padding: 0.5em;
  padding-top: 0.6em;
  font-size: 1em;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--c-dark50);
}

.box-label > a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  color: var(--c-text-main);
  right: 1em;
  cursor: pointer;
  text-decoration: underline;
}

.box-content {
  padding: 1.5em;
}

button {
  border: none;
  background-color: var(--c-dark90);
  color: var(--c-text-white);
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  position: relative;
  transition: transform 200ms ease, opacity 200ms ease;
}
button:hover {
  transform: scale(1.02);
}

button:active {
  transform: scale(0.98);
}

.how-to {
  margin: 20px 0;
  font-size: 1.2em;
}

.button {
  border: none;
  background-color: var(--c-dark90);
  color: var(--c-text-white);
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  position: relative;
  transition: transform 200ms ease, opacity 200ms ease;
}
.how-to-button {
  cursor: pointer;
  display: block;
  margin: 0;
  margin-right: 2em;
  background-color: transparent;
  border: 1px solid var(--c-text-main);
  border-radius: 0.1em;
  color: var(--c-text-main);
}
.button:hover {
  transform: scale(1.02);
}

.button:active {
  transform: scale(0.98);
}

.how-to-buttons-wrapper {
  display: flex;
  align-items: flex-end;
}

.transpose-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 1em;
  align-content: stretch;
  grid-template-rows: min-content;
  margin-right: 1em;
}
.transpose-wrapper > div {
  margin-bottom: 0.2em;
}
.transpose-wrapper > div:first-child {
  grid-column: span 3;
}

.transpose-wrapper > button {
  display: block;
  align-self: stretch;
  margin: 0;
}
.transpose-button {
  margin-bottom: 1px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--c-text-main);
  border-radius: 0.1em;
  color: var(--c-text-main);
  height: 2.24em;
}

.hide {
  display: none;
}
@media only screen and (max-width: 900px) {
  .box-grid {
    display: block;
  }
  .box {
    position: relative;
  }
}
